<!DOCTYPE html>
<html>
<head>
    <title>Amtgard ORK</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
</head>
<body>
<div class="container">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Amtgard ORK</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
</div>
</body>
</html>
